UI-MVC/Connected Services/ServiceReference1/DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SC.BL.Domain" />
  <xs:complexType name="ArrayOfTicketDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketDTO" nillable="true" type="tns:TicketDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketDTO" nillable="true" type="tns:ArrayOfTicketDTO" />
  <xs:complexType name="TicketDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="DateOpenend" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Responses" nillable="true" type="tns:ArrayOfTicketResponseDTO" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SC.BL.Domain" minOccurs="0" name="State" type="q1:TicketState" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketDTO" nillable="true" type="tns:TicketDTO" />
  <xs:complexType name="ArrayOfTicketResponseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketResponseDTO" nillable="true" type="tns:TicketResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketResponseDTO" nillable="true" type="tns:ArrayOfTicketResponseDTO" />
  <xs:complexType name="TicketResponseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsClientResponse" type="xs:boolean" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketResponseDTO" nillable="true" type="tns:TicketResponseDTO" />
  <xs:complexType name="HardwareTicketDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TicketDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HardwareTicketDTO" nillable="true" type="tns:HardwareTicketDTO" />
</xs:schema>