UI-CA/Connected Services/ServiceReference1/SC.BL.Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SC.BL.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SC.BL.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ticket" nillable="true" type="tns:Ticket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicket" nillable="true" type="tns:ArrayOfTicket" />
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="DateOpened" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Responses" nillable="true" type="tns:ArrayOfTicketResponse" />
      <xs:element minOccurs="0" name="State" type="tns:TicketState" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
  <xs:complexType name="ArrayOfTicketResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketResponse" nillable="true" type="tns:TicketResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketResponse" nillable="true" type="tns:ArrayOfTicketResponse" />
  <xs:complexType name="TicketResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="TicketResponse" nillable="true" type="tns:TicketResponse" />
  <xs:simpleType name="TicketState">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Open" />
          <xs:enumeration value="Answered" />
          <xs:enumeration value="ClientAnswer">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Closed">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="TicketState" nillable="true" type="tns:TicketState" />
</xs:schema>